<template>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <Grid
        v-bind:countryList="countryList"
        v-bind:isLoading="isLoading"
        v-on:countryListChange="handleCountryListChange"
        v-on:saveToDatabase="handleSaveToDatabase"
        v-on:loadFromDatabase="handleLoadFromDatabase"
        />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <Toolbar
        v-on:countryListChange="handleCountryListChange"
        v-on:fileUpload="handleFileUpload"
        v-on:fileDownload="handleFileDownload"
        v-bind:fileTypes="fileTypes" 
        v-bind:countryList="countryList"
        />
    </div>
  </div>
</div>
</template>

<script>
 export default {
     props: ["countryList", "route", "fileTypes", "isLoading"],
     methods : {
         handleCountryListChange : function(value) { this.$emit("countryListChange", value); },
         handleFileUpload        : function(value) { this.$emit("fileUpload", value); },
         handleFileDownload      : function(value) { this.$emit("fileDownload", value); },
         handleSaveToDatabase    : function(value) { this.$emit("saveToDatabase", value); },
         handleLoadFromDatabase  : function(value) { this.$emit("loadFromDatabase", value); }
     }
 }
</script>
