<template>
<div>
  <h3>Country List</h3>
  <div class="row">
    <div class="col-md-2">
      <input v-on:click="handleAdd" class="btn btn-primary" type="button" name="add" value="Add Row" />
    </div>
    <div class="col-md-2">
      <input v-on:click="handleClearList" class="btn btn-danger" type="button" name="add" value="Clear list" />
    </div>
    <div class="col-md-2">
      <input v-on:click="handleSaveToDatabase" class="btn btn-primary" type="button" name="add" value="Save Changes" />
    </div>
    <div class="col-md-2">
      <input v-on:click="handleLoadFromDatabase" class="btn btn-primary" type="button" name="add" value="Load From DB" />
    </div>
    <div class="col-md-1">
      <div class="spinner-border" role="status" v-if="this.isLoading">
        <span class="sr-only"></span>
      </div>
    </div>
  </div>
  <table width="100%">
    <thead>
      <tr>
        <th>Country</th>
        <th>Capital</th>
        <th></th>
      </tr>
    </thead>
    <tbody>     
      <tr v-for="country in countryList">
        <td>
          <input type="text" name="countryName" v-model="country.country" />
        </td>
        <td>
          <input type="text" name="countryCapital" v-model="country.capital" />
        </td>
        <td>
          <input v-on:click="handleDelete(country)" type="button" class="btn btn-danger" name="delete" value="Delete" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
</template>

<script type="text/javascript">
export default {
    props: ["countryList", "isLoading"],
    methods: {
        
        handleDelete : function(country) {
            this.$delete(this.countryList, this.countryList.indexOf(country));
        },
        
        handleAdd : function(e) {
            this.countryList.push({ country : "", capital : ""});
        },
        
        handleClearList : function() {
            this.countryList.splice(0);
            this.countryList.push({ country : "", capital : ""});
        },
        
        handleLoadFromDatabase : function() {
            this.$emit("loadFromDatabase", null);
        },
        
        handleSaveToDatabase : function() {
            this.$emit("saveToDatabase", null);
        },
        
        
    }
}
</script>
