<template>
  <div class="card" style="padding: 1em">
    <div class="row">
      <form method="POST" action="" class="row">
        <div class="row">
          <h4>Load from file</h4>
        </div>
        <div class="row">
          <input v-on:change="handleUpload" type="file" ref="fileToUpload" name="fileToUpload" value="" />
        </div>
      </form>
    </div>

    <div class="row">
      <h4>Download</h4>
      <form method="POST" action="">
        <div class="row">
          <label for="fileFormat">File format</label>
        </div>
        
        <div class="row">
          <select name="fileFormat" ref="format">
            <option v-for="fileType in fileTypes">{{fileType}}</option>
          </select>
        </div>
        
        <div class="row">
          <input v-on:click="handleDownload" type="submit" class="btn btn-primary" name="fileToDownload" value="Download" />
        </div>
      </form>
    </div>
  </div>
</template>

<script type="text/javascript">
 export default {
     props: [ "countryList", "fileTypes" ],
     methods : {
         
         handleDownload : function(e) {
             e.preventDefault();
             this.$emit("fileDownload", this.$refs.format.value);
         },
         
         handleUpload : function(e) {
             e.preventDefault();

             const formData = new FormData();
             formData.append("fileToUpload", this.$refs.fileToUpload.files[0]);

             this.$emit("fileUpload", formData);
         }
     }
 };

</script>
